<form
    method="POST"
    class="w-3/4 md:w-1/2 flex flex-col gap-3 py-10 pb-20"
>
    <input
        required
        type="text"
        name="name"
        placeholder="YOUR NAME"
        class="p-5 text-black"
    />
    <input
        required
        type="email"
        name="email"
        placeholder="EMAIL"
        class="p-5 text-black"
    />
    <input
        type="text"
        name="company"
        placeholder="COMPANY"
        class="p-5 text-black"
    />
    <textarea
        name="message"
        placeholder="MESSAGE"
        class="p-5 text-black"
    ></textarea>
    <button
        type="submit"
        class="border-2 border-white py-4 hover:shadow-button hover:shadow-white hover:-translate-x-1 hover:-translate-y-1 transition font-bold rounded-lg focus:translate-x-0 focus:translate-y-0 focus:shadow-none"
    >
        SUBMIT
    </button>
</form>