---
import { MdArrowRightAlt } from "react-icons/md";
---

<div class="w-full p-4 flex items-center bg-white text-black">
    <a 
        href="/contact"
        class="flex items-center gap-1 font-bold rounded-xl text-black bg-white px-3 py-2 border-2 border-black transition hover:-translate-x-1 hover:-translate-y-1 hover:shadow-button hover:shadow-black focus:translate-x-0 focus:translate-y-0 focus:shadow-none"
    >
        <span>
            CONTACT US
        </span>
        <MdArrowRightAlt size={30}/>
    </a>
</div>