---
interface Props {
	title: string;
    link: string;
}

const { title, link } = Astro.props;
---

<a 
    href={link}
    class="relative group z-40 px-1 py-1"
>
    <span class="relative group-hover:text-black transition z-10">
        {title}
    </span>
    <div 
        class="absolute top-0 left-0 group-hover:w-full w-0 bg-white h-full rounded-sm transition-all z-0"
    ></div>
</a>
